body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font: serif;
  font-size: 32px;
  font-family: HELVETICA;
  margin-bottom: 45px;
}
table {
  border: 2;
  font-family: HELVETICA;
}
figcaption {
  font-style: "HELVETICA";
}
.picture {
  float: right; 
  margin: 5px 0 0 20px;
  max-width: 250px;
}
p {
  font-family: HELVETICA;
  font-size: 15px;
}
blockquote {
  font-family: monospace;
  font-size: 13px;
}
h2 {
  font-family: HELVETICA;
  font-size: 20px;
}
h3 {

  font-family: HELVETICA;
}
ul {
  font-family: HELVETICA;
}
figure {
  float: right;
  font-size:12px;
  text-align: center;

}